date: 19/04/2016 17:24:48
repo: .dotsys/builtins
manager: 
deps:
symlinks:
mac:  
  cmd_manager: user_cmd
  app_manager: defcask
  repo: 
  manager: 
  deps:
  symlinks:
linux:  
  cmd_manager: deflinux
  app_manager: def_linuxapp
  repo: 
  manager: 
  deps:
  symlinks:
freebsd:  
  cmd_manager: def_freebsdcmd
  app_manager: def_freebsdapp
  repo: 
  manager: 
  deps:
  symlinks:
windows:  
  cmd_manager: defscoop
  app_manager: defchoco
  repo: 
  manager: 
  deps:
  symlinks:
mysys:  
  cmd_manager: def_mysyscmd
  app_manager: def_mysysapp
  repo: 
  manager: 
  deps:
  symlinks:
aroot_txt: 
broot_txt: 
topic1: 1
  repo: arctelix/dotsys-repo
  manager: cmd
  deps:
    - tmux
    - wget
  symlinks:
  mac: yes
    repo: 
    manager: 
    deps:
    symlinks:
  linux: 
    repo: 
    manager: 
    deps:
    symlinks:
  freebsd: 
    repo: 
    manager: 
    deps:
    symlinks:
  windows: yes
    repo: 
    manager: 
    deps:
    symlinks:
      - vimrc->~/vimrc
  mysys: 
    repo: 
    manager: 
    deps:
    symlinks:
  file1_txt: 
  topic1sub: 
    repo: 
    manager: 
    deps:
    symlinks:
    mac: 
      repo: 
      manager: 
      deps:
      symlinks:
    linux: 
      repo: 
      manager: 
      deps:
      symlinks:
    freebsd: 
      repo: 
      manager: 
      deps:
      symlinks:
    windows: 
      repo: 
      manager: 
      deps:
      symlinks:
    mysys: 
      repo: 
      manager: 
      deps:
      symlinks:
    subfile1_setting: 
topic2: 2
  repo: 
  manager: 
  deps:
  symlinks:
  mac: 
    repo: 
    manager: 
    deps:
    symlinks:
  linux: 
    repo: 
    manager: 
    deps:
    symlinks:
  freebsd: 
    repo: 
    manager: 
    deps:
    symlinks:
  windows: 
    repo: 
    manager: 
    deps:
    symlinks:
  mysys: 
    repo: 
    manager: 
    deps:
    symlinks:
  file2_txt: 
  file2a_txt: 
  topic2sub: 
    repo: 
    manager: 
    deps:
    symlinks:
    mac: 
      repo: 
      manager: 
      deps:
      symlinks:
    linux: 
      repo: 
      manager: 
      deps:
      symlinks:
    freebsd: 
      repo: 
      manager: 
      deps:
      symlinks:
    windows: 
      repo: 
      manager: 
      deps:
      symlinks:
    mysys: 
      repo: 
      manager: 
      deps:
      symlinks:
zroot_txt: 
